.solitude-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	left: 0;
	top: 12vh;
	width: 50vw;
	height: 80vh;
	color: #445641;
	font-family: monotype-grotesque,sans-serif;
	font-size: .75rem;
	line-height: 2rem;
	text-transform: uppercase;
	background-image: url('images/background.jpg');
}

ul {
	list-style-type: none;
	padding-top: 5vh;
}

.social-box {
	padding-top: .5rem;
	display: flex;
	width: 70%;
	justify-content: space-evenly;
}
