.menu-mob {
    display:none;
}
.menu-web {
    position: fixed;
    left: 0;
    width: 30vh;
    display: flex;
    height: 100vh;
}
.header-img-web {
    background-color: #B7B1A5;
    flex: 1;
}

.menu-list-web {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.menu-list-web > .logo-placeholder {
    cursor: pointer;
    height: 10vh;
}

.menu-list-web > .menu-items{
    flex: 1;
	font-family: monotype-grotesque,sans-serif;
	font-size: .75rem;
	line-height: 2rem;
	text-transform: uppercase;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
}
.menu-list-web > .social-buttons{
    display: flex; 
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 2vh;
}
.menu-links {
    padding-left: 2em;

}
Link {
    width: 100%;
}
/* mobile site */
@media (max-width:400px){

    .menu-web {
        display: none;
    }
    .burger {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        flex: .15;
        color: #E75C44;
        background-color: blue;
    }
    .solitude-logo {
        position: fixed;
        z-index: 5;
        background-color: black;
        display: flex;
        height: 100%;
        align-items: center;	
        flex: .70;
        justify-content: center;
    }
}
