.header-style {
	position: fixed;
	top: 0;
	width: 100%;
	margin: auto;
	display: flex; 
	align-items: center;	
	height: 12vh;
	z-index: 1;
	background-color: #F9F6ED;
	justify-content: flex-start; 

} 

.burger {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: flex-end;
	flex: .15;
	color: #E75C44;
}

.solitude-logo {
	display: flex;
	height: 100%;
	align-items: center;	
	flex: .70;
	justify-content: center;
}

