.menu-mob {
    display:none;
}
.menu-web {
    position: fixed;
    left: 0;
    width: 30vh;
    display: flex;
    height: 100vh;
}
.header-img-web {
    background-color: #B7B1A5;
    flex: 1;
}

.menu-list-web {
    background-color: lightblue;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-list-web > .logo-placeholder {
    background-color: black;
}

.menu-list-web > .menu-items{
    background-color: blue;
	font-family: monotype-grotesque,sans-serif;
	font-size: .75rem;
	line-height: 2rem;
	text-transform: uppercase;
}
.menu-list-web > .social-buttons{
    background-color: black;
}
ul {
    background-color: green;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

li {
    background-color: black;
}

/* mobile site */
@media (max-width:400px){

    .menu-web {
        display: none;
    }
    .burger {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        flex: .15;
        color: #E75C44;
        background-color: blue;
    }
    .solitude-logo {
        position: fixed;
        z-index: 5;
        background-color: black;
        display: flex;
        height: 100%;
        align-items: center;	
        flex: .70;
        justify-content: center;
    }
}
