.flex-page {
    flex-direction: column;
}

.intro-heading{
    background-image: url('./images/bgImg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.intro-box{
    background-color: black;
    width: 100%;
    opacity: 0.8;
    display: flex;
    justify-content: center;
}

h1 {
    color: #F9F6ED;
    text-align: center;
    width: 80%;
    font-size: 56pt;
}
h1 > .red{
    color: #E75C44;
}

@media (max-width:1150px) {
#intro {
    background-image: url('./images/bg.png');
    background-size: cover;
    width: 100%;
}

.intro-heading{
   background-image: none; 
   height: 100vh;
}
h1 {
    color: #445641;
    margin-top: 0;
    font-size: 25pt;
    width: 100%;
}
}
