* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {
    	/*background-color: black; */
	font-family: monarcha,serif;
	font-weight: 700;
	font-style: normal;
	color: rgb(68, 86, 65);
	/*width: 80%;*/
	margin:auto;

}


